/*********** ELEMENT SELECTOR ***********/

body {
  line-height: 2;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66bfbf;
  font-family: "Sacramento", cursive;
  font-size: 4.375rem;
  margin: 30px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin-left: 30px;
}

hr {
  border: none;
  border-top: 0.75rem dotted;
  color: #d1d9d9;
  width: 30%;
}

/************ CLASSES TAGS ***************/

.about-me-paragraph {
  margin: 100px auto;
  width: 80%;
}

.bottom-cloud {
  left: 250px;
  bottom: 300px;
  position: absolute;
}

.bottom-container {
  background-color: #deeeea;
  margin-top: 5rem;
  margin-bottom: 0;
}

.competence-img {
  float: right;
  margin-right: 150px;
  width: 25%;
}

.computer-img {
  border-radius: 100%;
  float: left;
  margin-right: 50px;
  width: 25%;
}
.code-img {
  float: left;
  margin-right: 50px;
  width: 25%;
}

.copyright {
  margin: 0;
}

.footer-icon {
  font-size: 1.25rem;
  padding: 1rem;
}

.footer-icon:hover {
  font-size: 1.35rem;
}

.lego {
  width: 23%;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  margin: 60px auto;
  text-align: left;
  width: 50%;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.topnav {
  background-color: #deeeea;
  padding-top: 10px;
  text-align: right;
}

.topnav > a {
  color: #66bfbf;
  padding: 10px 10px;
  text-decoration: none;
}
.top-container {
  background-color: #deeeea;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  img {
    width: 50%;
  }

  .bottom-cloud,
  .top-cloud {
    width: 15%;
  }

  .bottom-cloud {
    left: 170px;
    top: 300px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2,
  h3 {
    font-size: 1.3rem;
  }

  .competence-img {
    margin-right: 0;
    width: 30%;
  }

  .computer-img {
    width: 30%;
  }

  .top-cloud {
    right: 150px;
    top: 110px;
  }
}

@media screen and (max-width: 480px) {
  .bottom-cloud {
    top: 70%;
    left: 15%;
  }
  .computer-img {
    margin-right: 10%;
  }

  .competence-img {
    margin-left: 20%;
  }

  .top-cloud {
    top: 30%;
    right: 15%;
  }

  h1 {
    font-size: 2rem;
  }

  h2,
  h3 {
    font-size: 1rem;
  }
}
